<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%page args="course, cont" />
<div class="col-lg-4 col-md-4 col-sm-6">
  <div class="course" id="${course.id | h}" role="region" aria-label="${course.display_name_with_default}">
    %if cont < 4:
    	<div class="header header-new">
	  <h4 title="${course.display_name_with_default}">${course.display_name_with_default}</h4>
	</div>
	<span class="new"><p>NUEVO</p></span>
    %else:
	<div class="header">
          <h4 title="${course.display_name_with_default}">${course.display_name_with_default}</h4>
        </div>
    %endif

    <div class="content" id="content-course-${course.id}" style="background-image: url('${course.course_image_url | h}');">
      <div class="text-container">
        <div class="pre-text">
          <p class="description">${course.short_description}</p>
          %if course.id.to_deprecated_string() == 'course-v1:MOOC-Maker+PUC01+2017_02':
              <a href="https://www.coursera.org/learn/gestion-organizaciones-efectivas" class="mas" title="Ver más sobre ${course.short_description}" target="_blank">Ver Más <i class="fa fa-plus" aria-hidden="true"></i></a>
          %else:
              <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="mas" title="Ver más sobre ${course.short_description}">Ver Más <i class="fa fa-plus" aria-hidden="true"></i></a>
          %endif
        </div>
      </div>
    </div>
  </div>
</div>

